*{
    margin: 20px;
}
h1 { 
    text-align: center;
    color:slateblue;
    margin-top: 10%;

}

.quiz-info{
    font-size: 30px;
    padding: 15px;
    text-align: center;
    color: rgb(136, 112, 182);
}

.startBtn{
    background-color:slateblue;
    color: rgb(205, 90, 128);
    font-size: 20px;
    font-weight: bold;
    margin-left: 45%;
    height: 50px;
    width: 10%;
}
.answer-btn{
    background-color:slateblue;
    color: rgb(12, 1, 4);
    font-size: 20px;
    font-weight: bold;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-left: 40%;
    height: 100px;
    width: 15%;

}
.answer-btn:hover{
    background-color: mediumvioletred;
}

.time{
    color: mediumvioletred;
    font-size: 20px;
    margin-left: 90%;
}
.result{
    margin-left: 40%;
    font-size: 35px;
    color: navy;
    background-color:mediumvioletred;
    border: 2px,solid, rgb(10, 5, 5);

}
.inital-input{
    margin-left: 40%;
    font-size: 25px;
    color: navy;
    width: 20%;
  padding: 12px 20px;
  box-sizing: border-box;
}
.highscore{
    background-color:slateblue;
    color: rgb(12, 1, 4);
    font-size: 15px;
    font-weight: bold;
    font-family:Georgia, 'Times New Roman', Times, serif;
    height: 50px;
    width: 7%;
    margin-left: 10px;

}
.inital{
    background-color:slateblue;
    color: rgb(12, 1, 4);
    font-size: 15px;
    font-weight: bold;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-left: 42%;
    height: 50px;
    width: 7%;

}